/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    /* Include padding and border in the element's total width and height:*/
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Ubuntu', sans-serif;
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

ul {
    list-style: none;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    gap:  20px;
}

